pillow
pytesseract
opencv-python
chromedriver_autoinstaller
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
selenium~=4.23.1
flask
gspread
openpyxl
beautifulsoup4

typing_extensions
MarkupSafe
Werkzeug
Jinja2
click
blinker
itsdangerous
requests