pytesseract~=0.3.10
opencv-python
chromedriver_autoinstaller
pillow~=10.4.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
selenium~=4.23.1
flask~=3.0.3
gspread
openpyxl
beautifulsoup4~=4.12.3

pip~=23.2.1
typing_extensions~=4.12.2
MarkupSafe~=2.1.5
Werkzeug~=3.0.3
Jinja2~=3.1.4
click~=8.1.7
blinker~=1.8.2
itsdangerous~=2.2.0
requests~=2.32.3